
.block{
    width: 80%;
    height: 100vh;
    border-left:2px;
    border-right:2px;
    border-left-style: solid; 
    border-right-style: solid; 
    border-color:red;
    border-radius: 15px;
    margin: 0px auto;
    background-color:green; 

}
.box1{

    width: 1px;
    height: 1px;
    border-width:100px;
    border-style:solid;
    border-color:  transparent transparent red transparent;  
    position: relative;
    top:-50px ;
   
}

.box2{
    width: 1px;
    height: 1px;
    border-width:100px;
    border-style:solid;
    border-color: red transparent transparent transparent;  
    position: relative;
    top:50px ;
}
.box3{
   
    width: 1px;
    height: 1px;
    border-width:100px;
    border-style:solid;
    border-color:  transparent transparent transparent green;  
}

.box4{
   
    width: 1px;
    height: 1px;
    border-width:100px;
    border-style:solid;
    border-color:  transparent green transparent transparent;  
}

.box5{
   
    width: 1px;
    height: 1px;
    border-width:100px;
    border-style:solid;
    border-color:  transparent transparent yellow yellow ;  
}

.box6{
   
    width: 1px;
    height: 1px;
    border-width:100px;
    border-style:solid;
    border-color:  transparent yellow yellow transparent;  
}

.box7{
   
    width: 1px;
    height: 1px;
    border-width:100px;
    border-style:solid;
    border-color: blue transparent transparent blue ;  
}

.box8{
   
    width: 1px;
    height: 1px;
    border-width:100px;
    border-style:solid;
    border-color: blue blue transparent transparent;  
    position: relative;
  
}

div[class^="box"]{
    display: inline-block;
    margin: 50px 50px 0 0;
}
